@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-background: hsl(0, 0%, 3%);
        --color-element-base-low: hsl(0, 0%, 7%);
        --color-element-base-mid: hsl(0, 0%, 13%);
        --color-element-base-high: hsl(0, 0%, 20%);
        --color-text: hsl(0, 0%, 90%);
        --color-clickable: hsl(0, 0%, 48%);
        --color-stroke: hsl(0, 0%, 74%);
        --color-accent: hsl(210, 79%, 46%);
        --color-accent-purple: hsl(281, 86%, 44%);

        --color-avatar-1-bg: hsl(4, 70%, 27%);
        --color-avatar-1-text: hsl(4, 70%, 67%);
        --color-avatar-2-bg: hsl(52, 70%, 27%);
        --color-avatar-2-text: hsl(52, 70%, 67%);
        --color-avatar-3-bg: hsl(117, 70%, 27%);
        --color-avatar-3-text: hsl(117, 70%, 67%);
        --color-avatar-4-bg: hsl(177, 70%, 27%);
        --color-avatar-4-text: hsl(177, 70%, 67%);
        --color-avatar-5-bg: hsl(237, 70%, 27%);
        --color-avatar-5-text: hsl(237, 70%, 67%);
        --color-avatar-6-bg: hsl(301, 70%, 27%);
        --color-avatar-6-text: hsl(301, 70%, 67%);
    }

    @font-face {
        font-family: "Jano Sans Pro";
    }
}

.theme-dark {
    --color-background: hsl(0, 0%, 3%);
    --color-element-base-low: hsl(0, 0%, 7%);
    --color-element-base-mid: hsl(0, 0%, 13%);
    --color-element-base-high: hsl(0, 0%, 20%);
    --color-text: hsl(0, 0%, 90%);
    --color-clickable: hsl(0, 0%, 48%);
    --color-stroke: hsl(0, 0%, 74%);
}

.theme-light {
    --color-background: hsl(0, 0%, 100%);
    --color-element-base-low: hsl(0, 0%, 93%);
    --color-element-base-mid: hsl(0, 0%, 81%);
    --color-element-base-high: hsl(0, 0%, 20%);
    --color-text: hsl(0, 0%, 5%);
    --color-clickable: hsl(0, 0%, 63%);
    --color-stroke: hsl(0, 0%, 22%);
}
